.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary {
  background-color: #FC7A08 !important;
  border-color: aliceblue !important;
}

.btn-primary-dropdown {
  background-color: rgba(0, 0, 0, 0) !important;
}

.btn-primary-start {
  background-color: #002B49 !important;
  border-color: aliceblue !important;
}

.bg-color {
  background-color: #FC7A08 !important;
}

.bg-color-start{
  background-color: #002B49;
}

.bg-color-light {
  background-color: #FEA65A !important;
}

.bg-color-light:hover {
  background-color: #FC7A08 !important;
}

.dateForm {
  background-color: #FC7A08  !important;
  color: aliceblue !important;
  border-color: aliceblue !important;
  margin: 0 !important;
}

.dateForm-start {
  background-color: #002B49  !important;
  color: aliceblue !important;
  border-color: aliceblue !important;
  margin: 0 !important;
}

.btn-primary:hover {
  background-color: #FEA65A !important;
}

.btn-primary-start:hover {
  background-color: #3b85b7 !important;
}

.btn-primary-dropdown:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}


.border-dropdown {
  border-color: #FC7A08 !important;
  border-width: 2px !important;
}

.border-dropdown:hover {
  border-color: aliceblue !important;
  border-width: 2px !important;
}

@media (max-width: 767px) {
  .border-b {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 2px solid aliceblue !important;
    border-radius: 0 !important;
  }
  .no-border-sm {
    border: none !important;
  }
}

@media (min-width: 767px) {
  .no-border-lg {
    border: none !important;
  }

  .margin-end-lg {
    margin-right: 1.5rem;
  }
}

.card-text {
  margin-bottom: 0.1rem;
}

.login-padding-top {
  padding-top: 10vh;
}

.bordered-box {
  border: 1px solid #ccc; /* Add your preferred border style */
  padding: 15px; /* Add padding to the content inside the box */
  border-radius: 5px; /* Optional: Add rounded corners */
}

h1 {
  font-size: 1.6rem !important;
}

h2 {
  font-size: 1.3rem !important;
}

.separator {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-right: 20px;
}

.nav-link.active {
  background-color: #FC7A08 !important;
  color: aliceblue;
}

.dropdown-toggle::after {
  content: none !important;
}

.dropdown-menu {
  --bs-dropdown-min-width: none !important;
}

.dropdown-item:active {
  background-color: #FFDDC0 !important;
}

.rmsc .dropdown-container {
  border-radius: 25px var(--rmsc-radius);
  --rmsc-radius: 25px;
}

.tooltip {
  --bs-tooltip-bg: #FBA65C !important;
}

.tooltip-inner {
  background-color: #FBA65C !important;

}

.background-with-image {
  height: 100vh;
  width: 100vw;
  background-image: url('./NavBar/Poli.jpg');
  background-size: cover;
}

.card{
  --bs-card-spacer-y: 0.3rem !important;
}

.inner-card {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}


.list-elem-title {
  cursor: pointer;
}

.list-elem-title:hover {
  text-decoration: underline;
}